{{- if .Values.ingressApi.enabled -}}
{{- $fullName := include "platform.fullname" . -}}
{{- $apiPort := .Values.api.port -}}
{{- $pathType := .Values.ingressApi.pathType -}}
{{- if semverCompare "<1.14-0" .Capabilities.KubeVersion.Version -}}
apiVersion: extensions/v1beta1
{{- else if semverCompare "<1.19-0" .Capabilities.KubeVersion.Version -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: networking.k8s.io/v1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}-api
  namespace: "{{ .Release.Namespace }}"
  labels:
    {{- include "platform.labels" . | nindent 4 }}
  {{- with .Values.ingressApi.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  ingressClassName: {{ .Values.ingressApi.ingressClassName }}
  {{- if .Values.ingressApi.tls }}
  tls:
    {{- range .Values.ingressApi.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- if semverCompare "<1.19-0" .Capabilities.KubeVersion.Version -}}
    {{- range .Values.ingressApi.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ . }}
            backend:
              serviceName: {{ $fullName }}
              servicePort: {{ $apiPort }}
          {{- end }}
    {{- end }}
    {{- else -}}
    {{- range .Values.ingressApi.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ . }}
            pathType: {{ $pathType }}
            backend:
              service:
                name: {{ $fullName }}
                port: 
                  number: {{ $apiPort }}
          {{- end }}
    {{- end }}
    {{- end }}
{{- end }}
